@font-face {
  font-family: 'Moonlit Kai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/moonlit-kaiti.woff2) format('woff2');
}
@font-face {
  font-family: 'Moonlit Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/ma-shan-zheng.woff2) format('woff2');
}
@font-face {
  font-family: 'Moonlit Long Cang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/long-cang.woff2) format('woff2');
}
@font-face {
  font-family: 'Moonlit Liu Jian Mao Cao';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/liu-jian-mao-cao.woff2) format('woff2');
}
